// General Style Variables
@import "config/variables";
@import "config/bootstrap_variables";

// External Frameworks
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Our CSS
@import "layout/*";
@import "components/*";
@import "pages/*";
@import "vendor/*";

img {
  width: 700px;
  height: 400px;
  transition: 0.5s;
  &:hover{
    opacity: 0.6;
  }
}

.wrapper {
  background-image: url('../images/blue_light.jpg');
  background-size: cover !important;
  background-repeat: no-repeat;
}

body {
  color:black;
  background-color:white;
}

.border {
  border-bottom: 1px solid grey;
}

.row {
  margin-left: -144px;
  margin-right: 84px;
}
