<div class="wrapper">
  <div class="welcome text-center padded">
    <h1>Joé Marc  </h1>
    <h2>Ruby on Rails developper</h2>
    <p>
      <i class="fa fa-github" aria-hidden="true">
        <%= link_to "github", "https://github.com/Joemarc"  %>
      </i>
    </p>
  </div>
</div>
<div class="container">
  <div class="text-center">
    <h2>Projets</h2>
    <p>Sur lesquels j'ai pu travailler</p>
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 border">
  </div>
  <div class="row padded">
    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
      <div class="card">
        <%= link_to 'Run2meet', 'https://run2meet.fr/', class: 'card-link' %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
      <div class="card2">
        <%= link_to 'Coursmapoule', 'http://www.coursmapoule.com/', class: 'card-link' %>
      </div>
    </div>
  </div>
</div>
